$green: #14fe72;
// $purple: #1d182d;
$purple: rgba(29,24,45,1);
$purple-t: rgba(29,24,45,0.8);
$purple-light: #7367a4;
$yellow: #ecff00;
$white: #fff;
$sm-rad: 5px;
$lg-rad: 20px;
$orange: #ff9642;




